body {
  margin: 0;
  min-width: 1200px;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #323232;
  line-height: 22px;

  background-color: #849d8f;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.btn {
  display: inline-block;
  padding: 10px 25px;

  color: #ffffff;
  font-weight: 700;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  vertical-align: middle;

  background-color: #ffffff;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  background-color: rgba(255, 255, 255, 0.07);
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  text-transform: none;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
    max-width: 100%;
    height: auto;
}

a {
  text-decoration: none;
}

.main-navigation {
  display: flex;
  padding-top: 9px;
}

.logo {
  margin-bottom: auto;
  width: 154px;
  height: 64px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  list-style: none;
}

.menu-item {
  position: relative;

  margin-top: 15px;
  margin-bottom: auto;
  padding-bottom: 5px;
}

.menu-item > a {
  display: block;
  padding: 5px 14px;

  color: #ffffff;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: middle;

  border-radius: 16px;
}

.menu-item > a:hover {
  color: #333333;
  text-decoration: none;

  background-color: #f7f6f3;
}

.menu-item > a:active {
  color: #333333;
  text-decoration: none;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px #696969;
}

.menu-item .current {
  text-decoration: none;

  background-color: #d07058;
}

.catalog-list {
  position: absolute;
  top: 37px;
  left: -6px;
  z-index: 10;


  display: none;
  flex-direction: column;
  margin: 0;
  padding: 0;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  list-style: none;
}

.catalog:hover .catalog-list {
  display: flex;
}

.catalog-item {
  margin-bottom: 3px;
}

.catalog-item:first-child {
  position: relative;

  margin-top: 5px;
  margin-bottom: 11px;
}

.catalog-item:first-child::before {
  content: '';

  position: absolute;
  bottom: -5px;
  left: 6px;

  height: 1px;
  width: 89.5%;

  background-color: rgba(53, 53, 53, 0.2);
}

.catalog-item:last-child {
  margin-bottom: 5px;
}

.catalog-item a {
  display: block;
  padding: 6px 20px;
  min-width: 143px;
  box-sizing: border-box;

  color: #323232;
  font-size: 14px;
  line-height: 16px;
}

.catalog-item:first-child a {
  font-weight: 700;
}

.catalog-item a[href]:hover {
  background-color: #fbded7;
}

.catalog-item a[href]:active {
  background-color: #f6b5a5;
}

.catalog-item a:not([href]) {
  background-color: #d07058;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.navigation-item {
  position: relative;

  margin-left: 9px;
  margin-top: 14px;
  margin-bottom: auto;
  padding-bottom: 4px;
}

.navigation-link {
  position: relative;

  display: block;
  padding: 8px 17px;
  padding-left: 44px;

  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  vertical-align: middle;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.search-link {
  padding: 0;
  height: 33px;
  width: 33px;

  border: none;
  border-radius: 50%;
}

.basket-link {
  padding-right: 35px;
}

.basket-full {
  padding-right: 17px;
}

.navigation-link:hover {
  color: #323232;

  background-color: #f8f7f4;
}

.navigation-link:active {
  opacity: 0.5;
}

.navigation-link svg {
  position: absolute;
  top: 7px;
  left: 8px;
}

.login-link svg,
.basket-link svg {
  top: 6px;
  left: 16px;
}

.basket-icon polygon {
  fill: transparent;
}

.navigation-link:hover path,
.navigation-link:hover circle {
  fill: #000000;
}

.basket-full,
.basket-full:hover,
.basket-full:active {
  color: #323232;

  background-color: #f8f7f4;
}

.basket-full path,
.basket-full:hover path,
.basket-full:active path,
.basket-full circle,
.basket-full:hover circle,
.basket-full:active circle {
  fill: #000000;
}

.basket-full polygon,
.basket-full:hover polygon,
.basket-full:active polygon {
  fill: #e84d37;
}

.form-search {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;

  display: none;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.search-site:hover .form-search {
  display: block;
}

.input-search {
  padding: 9px 14px;
  width: 311px;
  box-sizing: border-box;

  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.input-search:hover {
  padding: 8px 13px;

  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input-search:focus {
  padding: 8px 13px;

  border: 2px solid rgba(46, 136, 228, 0.52);
  outline: none;
}

.user-data {
  position: absolute;
  top: 37px;
  right: 0;
  z-index: 10;

  display: none;
  padding: 20px 17px;
  padding-left: 19px;
  padding-bottom: 22px;

  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.user-login:hover .user-data {
  display: block;
}

.user-data input {
  margin-bottom: 20px;
  padding: 9px 14px;
  width: 241px;
  box-sizing: border-box;

  color: #323232;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.user-wrapper {
  display: flex;
}

.btn-user {
  margin-bottom: auto;

  font-size: 18px;
  line-height: 24px;

  border: none;
  border-radius: 22px;
}

.user-wrapper p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  margin-right: 3px;
}

.user-data a {
  position: relative;

  margin-right: auto;

  color: #323232;
  font-size: 13px;
  line-height: 24px;
}

.user-data a::before {
  content: '';

  position: absolute;
  bottom: 4px;
  left: 0;

  height: 1px;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}

.user-data a:hover,
.user-data a:active {
  color: #e84d37;
}

.user-data a:hover::before,
.user-data a:active::before {
  background-color: rgba(236, 89, 60, 0.3);
}

.heder-contacts {
  margin-left: auto;

  color: #ffffff;
  font-weight: 700;
  text-align: right;
}

.time {
  margin: 0;
  margin-bottom: 4px;

  font-size: 14px;
  line-height: 16px;
}

.telefon {
  color: #ffffff;
  font-size: 22px;
  line-height: 24px;
}

.telefon:hover {
  text-decoration: underline;
}

.header-wrapper {
  display: flex;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-item {
  position: relative;

  margin-top: 26px;
  margin-right: 21px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item:not(:last-child)::before {
  content: '»';



  position: absolute;
  bottom: 3px;
  right: -14px;
}

.breadcrumbs-item a {
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-item a:hover,
.breadcrumbs-item a:active {
  color: #ffbc9e;
}

.sliders {
  position: relative;

  margin-bottom: 42px;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  position: relative;

  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 274px;
}

.slider-title {
  margin: 0;
  margin-bottom: 29px;
  width: 670px;

  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
}

.slider-img {
  position: absolute;
  top: -35px;
  left: 50%;
  z-index: -1;

  margin: 0;

  line-height: 0;

  transform: translateX(-50%);
}

.image-raspberries{
  height: 584px;
  width: 647px;
}

.image-lemon{
  height: 582px;
  width: 644px;
}

.image-strawberry{
  height: 582px;
  width: 639px;
}

.btn-slider {
  padding: 10px 41px;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;

  border-radius: 32px;
}

.slider-active {
  display: flex;
}

.sliders-switch {
  position: absolute;
  left: 0;
  bottom: 21px;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.switch-item:not(:first-child) {
  margin-left: 8px;
}

.switch {
  display: block;
  padding: 0;
  height: 21px;
  width: 21px;
  box-sizing: border-box;

  border: none;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
}

.switch-active {
  background-color: #ffffff;
}

.promotions {
  margin-bottom: 40px;
}

.promotion-list {
  margin: 0;
  margin-left: -26px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;

  list-style: none;
}

.promotion-item {
  display: flex;
  flex-direction: column;
  padding: 16px 22px;
  padding-left: 18px;
  margin-left: 26px;
  width: 520px;

  background-color: #54201b;
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 13px;
}

.promotion-raspberries {
  background-image: url('../img/raspberries-background.jpg');
}

.promotion-chocolate {
  background-image: url('../img/chocolate-background.jpg');
}

.promotion-title {
  margin: 0;
  margin-bottom: 15px;

  color: #ffffff;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
}

.promotion-page {
  margin: 0;
  margin-bottom: 43px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.btn-promotion {
  margin-left: auto;
  margin-bottom: 8px;
  padding: 11px 22px;

  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  border-radius: 23px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -26px;
  padding: 0;

  list-style: none;
}

.product-item {
  position: relative;

  display: flex;
  flex-direction: column;
  margin-left: 26px;
  padding-bottom: 37px;
  width: 267px;
}

.product-item::after {
  content: '';

  position: absolute;
  top: -6px;
  left: -13px;
  z-index: -1;

  display: none;
  height: 405px;
  width: 293px;

  background-color: #f8f7f4;
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  opacity: 0.2;
}

.product-title {
  margin: 0;
  order: 2;
  width: 266px;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
}

.product-title a {
  color: #ffffff;
  text-decoration: underline;
}

.product-title a:hover,
.product-title a:active {
  color: #ffbc9e;
}

.product-image {
  margin: 0;
  margin-bottom: 14px;
  order: 1;
  height: 267px;
  width: 267px;

  border-radius: 50%;
  overflow: hidden;
}

.product-hit::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  height: 61px;
  width: 61px;

  background-color: #ffffff;
  background-image: url('../img/hit.png');
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.product-price {
  position: absolute;
  top: 209px;
  left: 0;

  margin: 0;

  color: #ffffff;
  font-size: 45px;
  font-weight:700;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.price-weight {
  font-size: 30px;
}

.btn-wrapper {
  position: absolute;
  top: 333px;
  left: 0;

  display: none;
  margin: 0;
  padding-bottom: 22px;
  min-width: 267px;

  text-align: center;
}

.btn-product {
  display: inline-block;
  padding: 10px 17px;
  padding-left: 16px;

  color: #fefefe;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  border-radius: 22px;
}

.product-item:hover::after,
.product-item:hover .btn-wrapper {
  display: block;
}

.info {
  padding: 25px 20px;
  padding-bottom: 18px;

  background-color: #eee2cc;
  background-image: url('../img/wafer-background.jpg');
  background-position: center;
  background-repeat: repeat;
  border-radius: 13px;
}

.info h2 {
  margin: 0;
  margin-bottom: 5px;

  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-item {
  margin-left: 33px;
  margin-bottom: 6px;
  padding-left: 58px;
  padding-top: 16px;
  width: 476px;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  background-repeat: no-repeat;
  background-position: top 3px left;
}

.info-item:nth-child(odd) {
  margin-left: 0;
  padding-left: 56px;
}

.info-manufacture {
  background-image: url('../img/ice.png');
}

.info-provider {
  background-image: url('../img/cow.png');
}

.info-ingredients {
  background-image: url('../img/leaf.png');
}

.info-delivery {
  background-image: url('../img/thermometer.png');
}

.info-item p {
  margin: 0;
}

::-webkit-input-placeholder {
  color: #999999;
  font-weight: 400;
}
::-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
:-ms-input-placeholder {
  color: #999999;
  font-weight: 400;
}
:-moz-placeholder {
  color: #999999;
  font-weight: 400;
}
